/Dockerfile
/docker-compose.yml
/.git
/.github
/__pycache__
/.mypy_cache
/.pytest_cache
/.ralphex
/.ruff_cache
/.venv
/aiograpi_rest.egg-info
/build
/dist
/release
/docs
/examples
/golang
/instagrapi_rest.egg-info
/site
/swift
/tests
/CODE_OF_CONDUCT.md
/LICENSE
/logo.png
*.py[cod]
